.card-post{
  width: 421px;
  height: 681px;
  display: flex;
  flex-direction: column;

  h1{
    color: #626262;
  }

  .card-post-text{
    margin-top: 32px;

    .subtitle{
      color: #bdb7aa;
      font-size: 14px;
    }

    .description-post{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 14px;
    }
  }
}