/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1066px;
  margin: 0 auto;
}

h1, h2 {
  margin-bottom: 35px;
  font-size: 30px;
  color: #b0b0b0;
  font-weight: 500;
}

.cards-blog{
  width: 904px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@import 'post';
@import 'signUp';
@import 'nav-bar';
@import 'cardPost';
@import 'admin-page';