/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

.container{
  max-width: 1066px;
  height: 980px;
  margin: 0 auto;
}

@import './post.scss'