.post{
  margin-bottom: 126px;

  .post-img{
    margin-bottom: 100px;
  }

  .text-post{
    max-width: 896px;
    height: 376px;
    margin: 0 auto;

    .subtitle{
      color: #bdb7aa;
      font-size: 14px;
    }

    .description-post{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  }

  button{
    text-transform: uppercase;
    margin-top: 55px;
    padding: 5px 5px;
    color: #d9d6ce;
    border-radius: 5px;
  }

  button:hover{
    background-color: #d9d6ce;
    color: white;
  }
}